*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
  background-color: #1b1b32;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.logo-contenedor{
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 20px;
}

.logo{
  height: 300px;
}